*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  color: #17273d;
}

.wrapper {
  width: 100%;
  max-width: calc(1240px + 2rem);
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.shadow {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
}

.shadow-light {
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1);
}

header {
  width: 100%;
  background-color: #d4efff;
  overflow: hidden;
}
header nav {
  width: 100%;
  padding: 2rem 0;
  position: relative;
  justify-content: space-between;
  z-index: 3;
}
header nav .nav-btn {
  padding: 1rem 1.5rem;
  background-color: #17273d;
  text-decoration: none;
  border-radius: 30px;
  transition: transform 250ms ease-in-out;
}
header nav .nav-btn:hover {
  transform: scale(1.05);
  transition: transform 250ms ease-in-out;
}
header nav .nav-btn span {
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
}
header .main-header .header-cta {
  width: 100%;
  position: relative;
  gap: 2rem;
  z-index: 2;
}
header .main-header .header-cta .cta-heading {
  font-size: 3rem;
  text-transform: uppercase;
}
header .main-header .header-cta .cta-container {
  gap: 1rem;
}
header .main-header .header-cta .cta-container .item {
  color: #130f0a;
  gap: 0.5rem;
}
header .main-header .header-cta .cta-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 0.5rem;
  padding: 1rem 1.5rem;
  background-color: #17273d;
  text-decoration: none;
  border-radius: 30px;
  transition: transform 250ms ease-in-out;
}
header .main-header .header-cta .cta-btn:hover {
  transform: scale(1.05);
  transition: transform 250ms ease-in-out;
}
header .main-header .header-cta .cta-btn span {
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
}
header .main-header .header-hero {
  width: 100%;
  position: relative;
  align-items: flex-end;
}
header .main-header .header-hero .hero {
  z-index: 2;
}
header .main-header .header-hero .cloud {
  position: absolute;
  bottom: 2rem;
  left: -5rem;
}

main .main-section {
  padding: 6.875rem 0;
}
main .main-section h1 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}
main .main-section p {
  color: #130f0a;
  text-align: center;
}
main .main-section .partners {
  margin-bottom: 6.875rem;
  gap: 1rem;
}
main .main-section .partners .container {
  margin-top: 3.75rem;
  gap: 2rem;
}
main .main-section .partners .container .box {
  height: 11.375rem;
  width: 11.375rem;
  border: 1px solid #f6f5f5;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}
main .main-section .partners .container .box:hover {
  transform: scale(1.1);
  transition: transform 250ms ease-in-out;
}
main .main-section .about {
  margin-bottom: 2.5rem;
  gap: 1rem;
}
main .main-section .about .container {
  margin-top: 3.75rem;
  gap: 2rem;
}
main .main-section .about .container .card {
  width: 100%;
  padding: 3.75rem;
  background-color: #ffecd4;
  border-radius: 2.5rem;
}
main .main-section .about .container .card img {
  margin-bottom: 2rem;
}
main .main-section .about .container .card h3 {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}
main .main-section .about .container .card p {
  color: #130f0a;
}
main .main-section .cta {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  border: 2px solid #17273d;
  text-decoration: none;
  border-radius: 30px;
  transition: all 250ms ease-in-out;
}
main .main-section .cta:hover {
  background-color: #17273d;
  transition: all 250ms ease-in-out;
}
main .main-section .cta:hover span {
  color: white;
}
main .main-section .cta span {
  color: #17273d;
  font-weight: 600;
  font-size: 0.875rem;
}
main .faq-section {
  padding: 6.875rem 0;
  background-color: #fdf4e9;
}
main .faq-section .wrapper {
  gap: 4rem;
}
main .faq-section .wrapper .faq {
  width: 100%;
}
main .faq-section .wrapper .faq h1 {
  margin-bottom: 1.25rem;
  font-size: 2rem;
  color: #17273d;
  text-transform: uppercase;
}
main .faq-section .wrapper .faq .container {
  gap: 1rem;
}
main .faq-section .wrapper .faq .container .item {
  gap: 1rem;
}
main .faq-section .wrapper .faq .container .item .icon {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.25rem;
  background-color: white;
}
main .faq-section .wrapper .faq .container .item .icon img {
  height: 1.5rem;
  width: 1.5rem;
}
main .faq-section .wrapper .faq .container .item p {
  color: #130f0a;
}
main .faq-section .wrapper .testimonial {
  width: 100%;
  background-color: white;
  border-radius: 2.5rem;
}
main .faq-section .wrapper .testimonial .inner {
  height: 100%;
  padding: 3.25rem;
  justify-content: space-between;
}
main .faq-section .wrapper .testimonial .quote {
  width: 2rem;
}
main .faq-section .wrapper .testimonial .review {
  color: #130f0a;
  font-size: 1.75rem;
}
main .faq-section .wrapper .testimonial .container {
  justify-content: space-between;
}
main .faq-section .wrapper .testimonial .container .user {
  gap: 1.5rem;
}
main .faq-section .wrapper .testimonial .container .user .container {
  gap: 0.25rem;
}
main .faq-section .wrapper .testimonial .container .user .container .name {
  color: #17273d;
  font-weight: 700;
}
main .faq-section .wrapper .testimonial .container .user .container .job {
  color: #130f0a;
}
main .faq-section .wrapper .testimonial .container .dots {
  gap: 0.5rem;
  align-items: flex-end;
  margin-bottom: 0.75rem;
}
main .faq-section .wrapper .testimonial .container .dots .dot {
  height: 0.875rem;
  width: 0.875rem;
  border-radius: 100%;
  background-color: #d9d9d9;
  cursor: pointer;
}
main .faq-section .wrapper .testimonial .container .dots .dot.full {
  background-color: #40c1a3;
}
main .tab-section {
  padding: 6.875rem 0;
  background-color: #d4efff;
}
main .tab-section .wrapper {
  gap: 4rem;
}
main .tab-section .wrapper .showcase {
  width: 100%;
  background-color: white;
  border-radius: 2.5rem;
  overflow: hidden;
}
main .tab-section .wrapper .showcase h2 {
  color: #130f0a;
  font-size: 1.75rem;
  font-weight: 500;
}
main .tab-section .wrapper .showcase .content {
  padding: 3.25rem 6.75rem 3.25rem 2.5rem;
  gap: 1.25rem;
}
main .tab-section .wrapper .showcase .content p {
  color: #130f0a;
}
main .tab-section .wrapper .showcase .content a {
  color: #40c1a3;
  text-decoration: none;
  font-weight: 600;
}
main .tab-section .wrapper .tabs {
  width: 100%;
  justify-content: space-evenly;
  gap: 2.5rem;
}
main .tab-section .wrapper .tabs h1 {
  font-size: 2rem;
  text-transform: uppercase;
}
main .tab-section .wrapper .tabs .container {
  gap: 1.75rem;
}
main .tab-section .wrapper .tabs .container .tab {
  padding: 0.75rem 1.5rem;
  background-color: white;
  border-radius: 2.5rem;
  gap: 1rem;
  border: 2px solid transparent;
}
main .tab-section .wrapper .tabs .container .tab.active {
  border: 2px solid black;
}
main .tab-section .wrapper .tabs .container .tab:hover {
  border: 2px solid black;
}
main .tab-section .wrapper .tabs .container .tab p {
  color: #130f0a;
  line-height: 1.75rem;
}

footer {
  padding: 6.25rem 0;
  background-color: #1a212c;
}
footer .wrapper {
  gap: 1.25rem;
}
footer .wrapper .logo {
  margin-bottom: 3rem;
}
footer .wrapper p {
  width: 20rem;
  color: white;
  text-align: center;
}/*# sourceMappingURL=style.css.map */