$accent: #17273d;
$text: #130f0a;
$font: "Montserrat", sans-serif;

@mixin mobile {
  @media (max-width: 428px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: $font;
  color: $accent;
}
.wrapper {
  width: 100%;
  max-width: calc(1240px + 2rem);
  margin: 0 auto;
  padding: 0 1rem;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.shadow {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
}
.shadow-light {
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1);
}

//

header {
  width: 100%;
  background-color: #d4efff;
  overflow: hidden;

  nav {
    width: 100%;
    padding: 2rem 0;
    position: relative;
    justify-content: space-between;
    z-index: 3;

    .nav-btn {
      padding: 1rem 1.5rem;
      background-color: $accent;
      text-decoration: none;
      border-radius: 30px;
      transition: transform 250ms ease-in-out;

      &:hover {
        transform: scale(1.05);
        transition: transform 250ms ease-in-out;
      }

      span {
        color: white;
        font-weight: 600;
        font-size: 0.875rem;
      }
    }
  }

  .main-header {
    @include mobile {
      flex-direction: column;
    }

    .header-cta {
      width: 100%;
      position: relative;
      gap: 2rem;
      z-index: 2;

      .cta-heading {
        font-size: 3rem;
        text-transform: uppercase;
      }
      .cta-container {
        gap: 1rem;

        .item {
          color: $text;
          gap: 0.5rem;
        }
      }
      .cta-btn {
        width: fit-content;
        margin-top: 0.5rem;
        padding: 1rem 1.5rem;
        background-color: $accent;
        text-decoration: none;
        border-radius: 30px;
        transition: transform 250ms ease-in-out;

        &:hover {
          transform: scale(1.05);
          transition: transform 250ms ease-in-out;
        }

        span {
          color: white;
          font-weight: 600;
          font-size: 0.875rem;
        }
      }
    }
    .header-hero {
      width: 100%;
      position: relative;
      align-items: flex-end;

      .hero {
        z-index: 2;
      }
      .cloud {
        position: absolute;
        bottom: 2rem;
        left: -5rem;
      }
    }
  }
}

//

main {
  .main-section {
    padding: 6.875rem 0;

    h1 {
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center;
    }
    p {
      color: $text;
      text-align: center;
    }

    .partners {
      margin-bottom: 6.875rem;
      gap: 1rem;

      .container {
        margin-top: 3.75rem;
        gap: 2rem;

        @include mobile {
          flex-direction: column;
        }

        .box {
          height: 11.375rem;
          width: 11.375rem;
          border: 1px solid #f6f5f5;
          border-radius: 0.5rem;
          cursor: pointer;
          transition: transform 250ms ease-in-out;

          &:hover {
            transform: scale(1.1);
            transition: transform 250ms ease-in-out;
          }
        }
      }
    }
    .about {
      margin-bottom: 2.5rem;
      gap: 1rem;

      .container {
        margin-top: 3.75rem;
        gap: 2rem;

        @include mobile {
          flex-direction: column;
        }

        .card {
          width: 100%;
          padding: 3.75rem;
          background-color: #ffecd4;
          border-radius: 2.5rem;

          img {
            margin-bottom: 2rem;
          }
          h3 {
            margin-bottom: 0.75rem;
            font-size: 1.25rem;
            font-weight: 600;
            text-align: center;
          }
          p {
            color: $text;
          }
        }
      }
    }
    .cta {
      width: fit-content;
      margin: 0 auto;
      padding: 1rem 1.5rem;
      border: 2px solid $accent;
      text-decoration: none;
      border-radius: 30px;
      transition: all 250ms ease-in-out;

      &:hover {
        background-color: $accent;
        transition: all 250ms ease-in-out;

        span {
          color: white;
        }
      }

      span {
        color: $accent;
        font-weight: 600;
        font-size: 0.875rem;
      }
    }
  }

  .faq-section {
    padding: 6.875rem 0;
    background-color: #fdf4e9;

    .wrapper {
      gap: 4rem;

      @include mobile {
        flex-direction: column;
      }

      .faq {
        width: 100%;

        h1 {
          margin-bottom: 1.25rem;
          font-size: 2rem;
          color: $accent;
          text-transform: uppercase;
        }
        .container {
          gap: 1rem;

          .item {
            gap: 1rem;

            .icon {
              height: 2.5rem;
              width: 2.5rem;
              border-radius: 0.25rem;
              background-color: white;

              img {
                height: 1.5rem;
                width: 1.5rem;
              }
            }
            p {
              color: $text;
            }
          }
        }
      }
      .testimonial {
        width: 100%;
        position: relative;
        background-color: white;
        border-radius: 2.5rem;

        .inner {
          height: 100%;
          padding: 3.25rem;
          justify-content: space-between;
          display: none;
        }

        .inner.active {
          display: flex;
        }

        .quote {
          width: 2rem;
        }
        .review {
          color: $text;
          font-size: 1.75rem;
        }
        .container {
          justify-content: space-between;

          .user {
            gap: 1.5rem;

            .icon {
              width: 3.75rem;
              height: 3.75rem;

              img {
                width: 100%;
                border-radius: 100%;
              }
            }

            .container {
              gap: 0.25rem;

              .name {
                color: $accent;
                font-weight: 700;
              }
              .job {
                color: $text;
              }
            }
          }
        }
        .dots {
          gap: 0.5rem;
          align-items: flex-end;
          margin-bottom: 0.75rem;
          position: absolute;
          right: 3.5rem;
          bottom: 3.5rem;

          .dot {
            height: 0.875rem;
            width: 0.875rem;
            border-radius: 100%;
            background-color: #d9d9d9;
            cursor: pointer;

            &.full {
              background-color: #40c1a3;
            }
          }
        }
      }
    }
  }

  .tab-section {
    padding: 6.875rem 0;
    background-color: #d4efff;

    .wrapper {
      gap: 4rem;

      @include mobile {
        flex-direction: column;
      }

      .showcase {
        width: 100%;
        background-color: white;
        border-radius: 2.5rem;
        overflow: hidden;

        .tab-content {
          display: none;
        }

        .tab-content.active {
          display: block;
        }

        #tab-1 > .banner {
          background-image: url("assets/banner_tab1.jpg");
        }
        #tab-2 > .banner {
          background-image: url("assets/banner_tab2.jpg");
        }
        #tab-3 > .banner {
          background-image: url("assets/banner_tab3.jpg");
        }
        #tab-4 > .banner {
          background-image: url("assets/banner_tab4.jpg");
        }
        #tab-5 > .banner {
          background-image: url("assets/banner_tab5.jpg");
        }
        #tab-6 > .banner {
          background-image: url("assets/banner_tab6.jpg");
        }

        .banner {
          width: 100%;
          height: 20rem;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }

        h2 {
          color: $text;
          font-size: 1.75rem;
          font-weight: 500;
        }

        .content {
          padding: 3.25rem 6.75rem 3.25rem 2.5rem;
          gap: 1.25rem;

          p {
            color: $text;
          }

          a {
            color: #40c1a3;
            text-decoration: none;
            font-weight: 600;
          }
        }
      }
      .tabs {
        width: 100%;
        justify-content: space-evenly;
        gap: 2.5rem;

        h1 {
          font-size: 2rem;
          text-transform: uppercase;
        }

        .container {
          gap: 1.75rem;

          .tab {
            padding: 0.75rem 1.5rem;
            background-color: white;
            border-radius: 2.5rem;
            gap: 1rem;
            border: 2px solid transparent;
            cursor: pointer;

            &.active {
              border: 2px solid black;
            }
            &:hover {
              border: 2px solid black;
            }

            p {
              color: $text;
              line-height: 1.75rem;
            }
          }
        }
      }
    }
  }
}

//

footer {
  padding: 6.25rem 0;
  background-color: #1a212c;

  .wrapper {
    gap: 1.25rem;

    .logo {
      margin-bottom: 3rem;
    }

    p {
      width: 20rem;
      color: white;
      text-align: center;
    }
  }
}
